.slick-slide {
  margin: 0 0.5rem 0.5rem;
}

.slick-prev::before,
.slick-next::before {
  font-size: 30px;
  color: #f3f3f3;
}

.slick-prev::before:hover,
.slick-next::before:hover {
  width: 100px;
  height: 100px;
}

.slick-prev:hover,
.slick-prev:focus.none {
  background-image: linear-gradient(to left, transparent, rgb(229, 38, 30));
}

.slick-next:hover,
.slick-next:focus.none {
  background-image: linear-gradient(to right, transparent, rgb(229, 38, 30));
}

.slick-next {
  right: 0;
  z-index: 100;
  border-radius: 0 0.3rem 0.3rem 0;
}

.slick-next:hover,
.slick-next:focus.none,
.slick-prev:hover,
.slick-prev:focus.none {
  opacity: 0.9;
}

.slick-prev {
  left: 0;
  z-index: 100;
  border-radius: 0.3rem 0 0 0.3rem;
}

.slick-prev,
.slick-next {
  top: 9.25rem;
  width: 4rem;
  height: 18.5rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
