.auth__username {
  width: 100%;
  max-width: 5.7rem;
  margin: 0 5px 0 0;
  overflow: visible;
  text-align: center;
}

.auth__username:focus {
  display: flex;
  text-align: center;
  border-bottom: 1px solid #333;
}
