.btn--white {
  color: #e5261e;
  background-color: #fff;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn--white:hover {
  color: #cc221b;
}

.btn--red ~ .btn--white:hover {
  color: #fff;
  background: #e5261e;
}
