@import "__logo/footer__logo.css";
@import "__container/footer__container.css";
@import "__description/footer__description.css";

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 1.4rem 0;
  font-size: 0.8rem;
  background: #f2f2f2;
}
