@import "__item/group__item.css";

.genre__group {
  display: flex;
  width: 100%;
  font-size: inherit;
  color: #fff;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
.genre__group {
  flex-wrap: wrap;
  justify-content: center;
}
}
