.group__item {
  display: flex;
  width: 14rem;
  height: 10.4rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  opacity: 0.8;
  transition: 0.2s linear;
}

.group__item:hover {
  opacity: 1;
}

.group__item:nth-child(5n+1) {
  background: linear-gradient(127.83deg, rgb(242, 201, 76) 8.44%, rgb(242, 154, 74) 91.36%);
}

.group__item:nth-child(5n+2) {
  background: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
}

.group__item:nth-child(5n+3) {
  background: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
}

.group__item:nth-child(5n+4) {
  background: linear-gradient(127.83deg, #828282 8.44%, #333 91.36%);
}
