@import "__timetable/channel__timetable.css";
@import "_card_margin/card___margin_bottom-16.css";

.channel__card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8.1rem;
  line-height: 1.2rem;
  background: #f2f2f2;
  border-radius: 0.4rem;
}

.channel__card:last-child {
  margin-bottom: 0;
}
