.channel__timetable_line {
  display: flex;
  margin: 0.3rem 0;
  flex-direction: row;
}

.channel__timetable_line > .lining {
  margin: 0 0.8rem 0 0;
}

.channel__timetable_line:nth-child(2) {
  color: #e5261e;
}
