@import "__text/media__text.css";

.item__media {
  position: relative;
  width: 14rem;
  height: 18.5rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 6px;
}
