@import "__name/tab__name.css";

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  font-family: Rubik-M, sans-serif;
  font-size: 1.4rem;
  text-align: center;
}
